---
layout: default
default_hero:
  heading_html: >-
    <span class="usa-hero-callout-alt">Hero callout:</span>Bring attention to a project priority
  text: |
    Support the callout with some short explanatory text. You don’t need more than a couple of sentences.
  cta_text: Call to action
  cta_link: 'javascript:void(0)'

default_tagline:
  heading: A tagline highlights your approach
  content: |
    The tagline should inspire confidence and interest, focusing on the value
    that your overall approach offers to your audience. Use a heading typeface
    and keep your tagline to just a few words, and don’t confuse or mystify.

    Use the right side of the grid to explain the tagline a bit more. What are
    your goals? How do you do your work? Write in the present tense, and stay
    brief here. People who are interested can find details on internal pages.

default_media_blocks:
  - heading: Graphic headings can vary.
    content: |
      Graphic headings can be used a few different ways, depending on what
      your landing page is for. Highlight your values, specific program
      areas, or results.
    img_src: /assets/uswds/img/circle-124.png
    img_alt: Alt text
  - heading: Stick to 6 or fewer words.
    content: |
      Keep body text to about 30 words. They can be shorter, but try to be
      somewhat balanced across all four. It creates a clean appearance with
      good spacing.
    img_src: /assets/uswds/img/circle-124.png
    img_alt: Alt text
  - heading: Never highlight anything without a goal.
    content: |
      For anything you want to highlight here, understand what your users
      know now, and what activity or impression you want from them after they
      see it.
    img_src: /assets/uswds/img/circle-124.png
    img_alt: Alt text
  - heading: Could also have 2 or 6.
    content: |
      In addition to your goal, find out your users’ goals. What do they want
      to know or do that supports your mission? Use these headings to show
      those.
    img_src: /assets/uswds/img/circle-124.png
    img_alt: Alt text

default_secondary_lead:
  heading: Section heading
  content: |
    Everything up to this point should help people understand your agency or
    project: who you are, your goal or mission, and how you approach it. Use
    this section to encourage them to act. Describe why they should get in
    touch here, and use an active verb on the button below. “Get in touch,”
    “Learn more,” and so on.
  cta_text: Call to action
  cta_link: '#'
---
{% assign hero = page.hero | default: layout.default_hero %}
{% if hero %}
{% include uswds/hero.html hero=hero %}
{% endif %}

<section class="grid-container usa-section">
  <div class="usa-width-one-whole">
    {{ content }}
  </div>
</section>

{% assign tagline = page.tagline | default: layout.default_tagline %}
{% if tagline %}
{% include uswds/tagline.html tagline=tagline %}
{% endif %}

{% assign media_blocks = page.media_blocks | default: layout.default_media_blocks %}
{% if media_blocks %}
{% include uswds/media_blocks.html media_blocks=media_blocks %}
{% endif %}

{% assign secondary_lead = page.secondary_lead | default: layout.default_secondary_lead %}
{% if secondary_lead %}
{% include secondary_lead.html secondary_lead=secondary_lead %}
{% endif %}
