{%- capture title %}{%if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}{% endcapture -%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}">

  {% if site.description %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  {% endif %}

  {% if site.contact.twitter %}
  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" content="@{{ site.contact.twitter }}">
  {% endif %}

  <meta property="og:type" content="article">
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl }}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl }}">

  {% include favicon.html %}

  {% for stylesheet in site.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet }}">
  {% else %}
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% endfor %}
</head>
